<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Auth/css/style.css">
    <title>Đăng nhập</title>

</head>

<body>
    <div class="container">
        <form method="post" action="">
            <fieldset>
                <legend>Đăng nhập</legend>
                <label for="ten_tk">Tên tài khoản:</label>
                <input type="text" id="ten_tk" name="ten_tk" required><br>

                <label for="mat_khau">Mật khẩu:</label>
                <input type="password" id="mat_khau" name="mat_khau" required><br>

                <input type="submit" value="Đăng nhập">

            </fieldset>
        </form>
        <div>
            <a href="../adminWeb">Trang Admin</a>
        </div>
        <a href="../index">Trang chủ</a>
        <p>Bạn chưa có tài khoản?</p>
        <a href="register.html">Đăng ký</a>
    </div>
</body>

</html>