<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Admin/Components/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="container text-center">
        <p style="font-size: 35px;">
            <a href="/Admin/Dashboard/views/home.html" style="text-decoration: none; color: black;">Quản lý website đặt vé xem phim</a>
        </p>
    </div>
</div>
</body>
</html>