/* Wrapper */
.wrapper {
  background-color: #343a40;
  /* Màu nền */
  color: white;
  /* Màu chữ */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper a {
  color: #007bff;
  /* Màu chữ khi hover */
  text-decoration: none;
}

.wrapper a:hover {
  color: #0056b3;
  /* Màu khi hover */
}
footer {
  background-color: #343a40;
  /* Màu nền */
  color: white;
  /* Màu chữ */
  text-align: center;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}